ion-card{
    --background: #199645;
    --color: #ffffff;
}

ion-card-title{
    --color: #ffffff;
}

ion-card-subtitle{
    --color: #ffffff;
}

ion-toolbar{
    --background: #05fa63;
}

ion-button{
    --color: #ffffff
}

ion-content{
    --ion-background-color: #e3f5e5
}
